{% extends "./todo.html" %}
{%load static%}
{% block body %}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Añadir Certificación</h4>
            </div>
        </div>
        <div class="card-body">
            <form action="page-list-users.html" data-toggle="validator">
                <div class="row"> 
                    <div class="col-md-6">                      
                        <div class="form-group">
                            <label>Registro ICA *</label>
                            <input type="text" class="form-control" placeholder="Ingrese el Nombre del Insumo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">                      
                        <div class="form-group">
                            <label>Periodo de Carencia *</label>
                            <input type="text" class="form-control" placeholder="Ingrese Apellidos" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha de Ingreso</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Kg</option>
                                <!--Acá va un script con base de datos de unidades de medida, standard-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ingrediente Activo</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Info de Ingrediente Activo 1</option>
                                <option>Info de Ingrediente Activo 2</option>
                            </select>
                        </div>
                    </div>              
                </div>                            
                <button type="submit" class="btn btn-primary mr-2">Crear Certificación</button>
                <button type="reset" class="btn btn-danger">Limpiar</button>
            </form>
        </div>
    </div>
</div>





{% endblock %}